body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url(../img/fondo-login.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
}

.title {
    font-size: 60px;
    margin-bottom: 80px;
    font-style: italic;
    letter-spacing: 0.20em;
}

.login-container {
    background-color: rgba(3, 30, 104, 0.8);
    padding: 60px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-icon {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0056b3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004080;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info p {
    margin-right: 10px;
  }
  
  .user-info img {
    width: 20px;
    height: 20px;
  }

  