<!DOCTYPE html>
<html>
	<head>
		<title>Inicio | Farmacia Medicare nuevo</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="./css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon"  href="../static/img/logo.png">
	</head>
	<body class="flex h-dvh w-dvh flex-col ">
		
        <header class="flex justify-center items-center bg-[#CF2A27] w-full h-14">
            <nav class="flex w-screen h-8 mx-4">
                
                <div class="flex items-center w-5/6">
                  <button id="bar" onclick="mostrar()">
                    <i  class="fa-solid fa-bars fa-lg text-slate-50 transition hover:scale-125"></i>
                  </button>
                </div>


                <div class="flex w-1/6 justify-end">
                    <div class="flex items-center mx-10 space-x-2">
                        <img src="../static/ico/btn-perfil.svg" alt="btn-perfil" width="30em">
                        <label class="text-slate-50 font-serif text-xl mt-1" >Usuario</label>
                    </div>
                    <div class="flex items-center">
                      <a href="./login.html"><img src="../static/ico/btn-salir.svg" alt="btn-salir" width="35px" class="transition hover:scale-125"></a>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex h-full w-full ">
            <div id="sidebar" class="flex flex-col bg-[#990000] ">
                <div class="flex justify-center items-center h-[25em] text-slate-50">
                    <a href="./index.html"><img src="../static/img/logo-blanco.png" alt="img-logo" class="size-[12em]"></a>
                </div>

                <div class="text-slate-50 font-mono text-xl mt-5 h-full">
                    <ul class="flex flex-col list-none">
                        <a href="./menu.html" class="flex p-3 hover:bg-[#CF2A27]"><il class="flex"><i class="fa-solid fa-house pr-2"></i>Menú</il></a>
                        <a href="./ventas.html" class="flex p-3 hover:bg-[#CF2A27]"><il class="flex"><i class="fa-solid fa-cart-shopping pr-2"></i>Ventas</il></a>
                        <a href="./mantenimiento.html" class="flex p-3 hover:bg-[#CF2A27]"><il class="flex"><i class="fa-solid fa-screwdriver-wrench pr-2"></i>Mantenimiento</il></a>
                        <a href="./reporte.html" class="flex p-3 hover:bg-[#CF2A27]"><il class="flex"><i class="fa-solid fa-file pr-2"></i>Reportes</il></a>
                    </ul>

                </div>
            </div>

            <div class= "flex flex-col h-full w-full">
                <div class="flex items-center basis-2/12 space-x-[3vh] pl-7">
                    <img src="../static/img/atencion-al-cliente.png" alt="imagen-ventas" class="size-[9vh]">
                    <h1 class="font-bold text-[#CF2A27] text-[5vh]">Cliente</h1>
                </div>

                <div class="flex flex-row basis-1/12 w-full space-x-[1em] px-10">
                    <label  class="w-[10em] text-[3vh] text-[#CF2A27] font-medium ">Buscar Cliente:</label>
                    <input type="text" id="numSerie" placeholder="Ingrese el Cliente a Buscar" class="w-full bg-slate-50  border-2 border-[#CF2A27] rounded-lg px-2 text-[2vh] outline-none h-[5vh] placeholder-[#CF2A27] ">
                </div>

                <br>

                <div class="flex flex-col basis-7/12  px-10  overflow-y-auto">
                    <table class="table-auto">
                        <thead class="">
                          <tr class=" border-b-4 border-slate-900">
                            <th class="">N°</th>
                            <th class="">Código</th>
                            <th class="">Nombre</th>
                            <th class="">Apellido</th>
                            <th class="">Tipo de Cliente</th>
                            <th class="">DNI</th>
                            <th class="">Número de Teléfono</th>
                            <th class="">Fecha de Nacimiento</th>
                            <th class="">RUC</th>
                            <th class="">Dirección</th>
                          </tr>
                        </thead>
                        <tbody class="overflow-y-auto">
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">1</td>
                            <td class="">RODHER</td>
                            <td class="">Rodrigo</td>
                            <td class="">Hernández</td>
                            <td class="">Persona Jurídica</td>
                            <td class=""></td>
                            <td class="">928323723</td>
                            <td class="">2000-03-15</td>
                            <td class="">22948989244</td>
                            <td class="">Ate Vitarte</td>
                  
                          </tr>
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">2</td>
                            <td class="">JULRIV</td>
                            <td class="">Juliana</td>
                            <td class="">Rivas</td>
                            <td class="">Persona Natural</td>
                            <td class="">70853840</td>
                            <td class="">939428353</td>
                            <td class="">2001-08-05</td>
                            <td class=""></td>
                            <td class="">Surco</td>
                            
                          </tr>
                         
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">3</td>
                            <td class="">KATPAL</td>
                            <td class="">Katherine</td>
                            <td class="">Palomino</td>
                            <td class="">Persona Jurídica</td>
                            <td class=""></td>
                            <td class="">998493434</td>
                            <td class="">1999-09-13</td>
                            <td class="">29010901903</td>
                            <td class="">Santa Clara</td>
                            
                          </tr>
                          
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">4</td>
                            <td class="">CAMMEN</td>
                            <td class="">Camila</td>
                            <td class="">Mendez</td>
                            <td class="">Persona Natural</td>
                            <td class="">49058305</td>
                            <td class="">909302875</td>
                            <td class="">2001-10-09</td>
                            <td class=""></td>
                            <td class="">Ventanilla</td>
                            
                          </tr>
                          
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">5</td>
                            <td class="">CLAMAR</td>
                            <td class="">Claudia</td>
                            <td class="">Martinez</td>
                            <td class="">Persona Natural</td>
                            <td class="">34345674</td>
                            <td class="">910083843</td>
                            <td class="">2002-12-15</td>
                            <td class=""></td>
                            <td class="">Surquillo</td>
                            
                          </tr>
                          
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">6</td>
                            <td class="">EMATAP</td>
                            <td class="">Emanuel</td>
                            <td class="">Tapia</td>
                            <td class="">Persona Natural</td>
                            <td class="">72748563</td>
                            <td class="">909288435</td>
                            <td class="">2003-05-06</td>
                            <td class=""></td>
                            <td class="">Ate Vitarte</td>
                            
                          </tr>
                          
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">7</td>
                            <td class="">JORTOR</td>
                            <td class="">Jorge</td>
                            <td class="">Torres</td>
                            <td class="">Persona Jurídica</td>
                            <td class=""></td>
                            <td class="">978923823</td>
                            <td class="">2000-02-08</td>
                            <td class="">20192913134</td>
                            <td class="">Miraflores</td>
                            
                          </tr>
                          
                          <tr class="text-center h-[3em]  border-gris-200 border-b-4">
                            <td class="">8</td>
                            <td class="">FERVEZ</td>
                            <td class="">Fernanda</td>
                            <td class="">Zeballos</td>
                            <td class="">Persona Natural</td>
                            <td class="">69304958</td>
                            <td class="">903982113</td>
                            <td class="">2003-11-06</td>
                            <td class=""></td>
                            <td class="">San Borja</td>
                            
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
                <div class="grid grid-cols-5 gap-1 place-items-center basis-2/12">
                    <a class=" transition hover:scale-125 flex justify-center">
                        <p class="flex items-center text-gray-600 text-[2.5vh] font-medium px-[3vh] py-2 bg-gray-300 rounded-xl " ><img src="../static/ico/btn-reporte.svg" alt="img-reporte" class="size-[2.5vh] mr-3"> Reporte</p>
                    </a>
                    <a class=" transition hover:scale-125 flex justify-center ">
                        <p class="flex items-center text-gray-600 text-[2.5vh] font-medium px-[3vh] py-2 bg-gray-300 rounded-xl " ><img src="../static/ico/btn-excel.svg" alt="img-reporte" class="size-[2.5vh] mr-3"> Excel</p>
                    </a>
                    <a href="./cliente-2.html" class=" transition hover:scale-125 flex justify-center">
                        <p class="flex items-center text-slate-50 text-[2.5vh] font-medium px-[3vh] py-2 bg-green-600 rounded-xl " ><img src="../static/ico/btn-nuevodoc.svg" alt="img-reporte" class="size-[2.5vh] mr-3"> Nuevo</p>
                    </a>
                    <a class=" transition hover:scale-125 flex justify-center ">
                        <p class="flex items-center text-slate-50 text-[2.5vh] font-medium px-[3vh] py-2 bg-amber-500 rounded-xl " ><img src="../static/ico/btn-editar.svg" alt="img-reporte" class="size-[2.5vh] mr-3"> Editar</p>
                    </a>
                    <a class=" transition hover:scale-125 flex justify-center">
                        <p class="flex items-center text-slate-50 text-[2.5vh] font-medium px-[3vh] py-2 bg-[#CF2A27] rounded-xl " ><img src="../static/ico/btn-eliminar.svg" alt="img-reporte" class="size-[2.5vh] mr-3"> Eliminar</p>
                    </a>
                </div>

            </div>

          

        </main>
        
        

        <footer>

        </footer>

        <script src="./js/funciones.js"></script>  	
	</body>
</html>