<!DOCTYPE html>
<html>
	<head>
		<title>Inicio | Farmacia Medicare</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="./css/normalize.css">
        <!-- <link rel="stylesheet" href="css/style-empleado-2.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon"  href="../static/img/logo.png">
	</head>
	<body class="flex h-dvh w-dvh flex-col">
		
        <header class="flex justify-center items-center bg-[#FF9900] w-full h-14">
            <nav class="flex w-screen h-8 mx-4">

                <div class="flex items-center w-5/6">
                    <button id="bar" onclick="mostrar()">
                        <i  class="fa-solid fa-bars fa-lg text-slate-50 transition hover:scale-125"></i>
                    </button>
                </div> 

                <div class="flex w-1/6 justify-end">
                    <div class="flex items-center mx-10 space-x-2">
                        <img src="../static/ico/btn-perfil.svg" alt="btn-perfil" width="30em">
                        <label class="text-slate-50 font-serif text-xl mt-1" for="">Usuario</label>
                    </div>
                    <div class="flex items-center">
                        <a href="./login.html"><img src="../static/ico/btn-salir.svg" alt="btn-salir" width="35px" class="transition hover:scale-125"></a>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex h-full w-full">
            <div id="sidebar" class="flex flex-col bg-[#B45F06] ">
                <div class="flex justify-center items-center h-[25em] text-slate-50">
                    <a href="./index.html"><img src="../static/img/logo-blanco.png" alt="img-logo" class="size-[12em]"></a>
                </div>

                <div class="text-slate-50 font-mono text-xl mt-5 h-full">
                    <ul class="flex flex-col list-none">
                        <a href="./menu.html" class="flex p-3 hover:bg-[#FF9900]"><il class="flex"><i class="fa-solid fa-house pr-2"></i>Menú</il></a>
                        <a href="./ventas.html" class="flex p-3 hover:bg-[#FF9900]"><il class="flex"><i class="fa-solid fa-cart-shopping pr-2"></i>Ventas</il></a>
                        <a href="./mantenimiento.html" class="flex p-3 hover:bg-[#FF9900]"><il class="flex"><i class="fa-solid fa-screwdriver-wrench pr-2"></i>Mantenimiento</il></a>
                        <a href="./reporte.html" class="flex p-3 hover:bg-[#FF9900]"><il class="flex"><i class="fa-solid fa-file pr-2"></i>Reportes</il></a>
                    </ul>

                </div>
            </div>
            

            <div class= "flex flex-col h-full w-full">
                <div class="flex items-center basis-2/12 space-x-[3vh] pl-7">
                    <img src="../static/ico/btn-empleado.svg" alt="imagen-ventas" class="size-[9vh]">
                    <h1 class="font-bold text-[#FF9900] text-[5vh]">Empleado</h1>
                </div>

                <form action="" class="flex flex-col basis-10/12">
                    <div class="grid grid-cols-2 gap-x-[8vh] gap-y-[5vh] place-content-center basis-9/12">
                        
                        <div class="w-9/12 place-self-end">
                            <label for="ident" class="font-medium block text-[2.3vh] text-[#FF9900]">Nombre:</label>
                            <input type="text" id="" placeholder="Ingrese el Nombre del Empleado" class="w-full  border-[0.4vh] border-[#FF9900]   rounded-lg px-2 text-[2.3vh] text-gray-500 outline-none h-[6vh] ">
                        </div>

                        <div class="w-9/12">
                            <label for="ident" class="font-medium block text-[2.3vh] text-[#FF9900]">Número de Teléfono:</label>
                            <input type="text" id="" placeholder="Ingrese el Número de Teléfono" class="w-full border-[0.4vh]  border-[#FF9900]  rounded-lg px-2 text-[2.3vh] text-gray-500 outline-none h-[6vh] ">
                        </div>

                        <div class="w-9/12 place-self-end">
                            <label for="ident" class="font-medium block text-[2.3vh] text-[#FF9900]">Apellido:</label>
                            <input type="text" id="" placeholder="Ingrese el Apellido" class="w-full  border-[0.4vh] border-[#FF9900]   rounded-lg px-2 text-[2.3vh] text-gray-500 outline-none h-[6vh] ">
                        </div>

                        <div class="w-9/12 ">
                            <label for="ident" class="font-medium block text-[2.3vh] text-[#FF9900]">Dirección:</label>
                            <input type="text" id="" placeholder="Ingrese la Dirección" class="w-full border-[0.4vh]  border-[#FF9900]  rounded-lg px-2 text-[2.3vh] text-gray-500 outline-none h-[6vh] ">
                        </div>
                        <div class="w-9/12 place-self-end">
                            <label for="ident" class="font-medium block text-[2.3vh] text-[#FF9900]">Cargo:</label>
                            <select name="" id="" class="w-full border-[0.4vh]  border-[#FF9900]  rounded-lg px-2 text-[2.3vh] text-gray-500 outline-none h-[6vh]" >
                                <option value="" class="">Seleciona un Cargo</option>
                                <option value="">Administrador</option>
                                <option value="">Farmacéutico</option>
                            </select>
                        </div>
                        
                    </div>
                    
                    <div class="grid grid-cols-5 gap-1 place-items-center basis-3/12">
                        
                        <a href="./empleado.html" class=" transition hover:scale-125 flex justify-center">
                            <p class="flex items-center text-slate-50 text-[2.5vh] font-medium px-[3vh] py-2 bg-gray-400 rounded-xl " ><img src="../static/ico/btn-regresar.svg" alt="img-reporte" class="size-[2.5vh] mr-3">Regresar</p>
                        </a>
                        <a href=""></a>
                        <a href="#" class=" transition hover:scale-125 flex justify-center">
                            <p class="flex items-center text-slate-50 text-[2.5vh] font-medium px-[3vh] py-2 bg-green-600 rounded-xl " ><img src="../static/ico/btn-guardar.svg" alt="btn-guardar" class="size-[2.5vh] mr-3">Guardar</p>
                        </a>
                        <a href="" class=" transition hover:scale-125 flex justify-center ">
                            <p class="flex items-center text-slate-50 text-[2.5vh] font-medium px-[3vh] py-2 bg-amber-500 rounded-xl " ><img src="../static/ico/btn-actualizar.svg" alt="btn-actualizar" class="size-[2.5vh] mr-3">Actualizar</p>
                        </a>
                        <a href=""></a>
                    </div>
                </form>



            <!--<section class="section-right">
                <h2 class="title-section-right"><img src="ico/btn-empleado.svg" alt="" class="btn-empleado">Empleado</h2>
                 <div class="div-buscar-empleado">
                    Buscar Empleado:
                    <input type="text" placeholder="Ingrese el nombre a buscar" class="input-buscar">
                </div> -->
                <!-- <div class="div-table">
                    <table >
                        <thead class="div-table-thead">
                            <tr>
                                <td>ID</td>
                                <td>Código</td>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Celular</td>
                                <td>Dirección</td>
                                <td>Cargo</td>
                            </tr>
                                
                        </thead>
                        
                        <tbody class="div-table-body">
                            <tr>
                                <td>1</td>
                                <td>MARFER</td>
                                <td>Mariana</td>
                                <td>Fernandez</td>
                                <td>943785785</td>
                                <td>Santa Clara</td>
                                <td>Farmacéutico</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>JULPER</td>
                                <td>Julio</td>
                                <td>Perez</td>
                                <td>994753551</td>
                                <td>Ate Vitarte</td>
                                <td>Administrador</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>SARMIC</td>
                                <td>Sara</td>
                                <td>Michel</td>
                                <td>992974225</td>
                                <td>Miraflores</td>
                                <td>Farmacéutico</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>MARPRA</td>
                                <td>Maria</td>
                                <td>Prado</td>
                                <td>938247843</td>
                                <td>San Miguel</td>
                                <td>Farmacéutico</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>RICGOM</td>
                                <td>Richard</td>
                                <td>Gomez</td>
                                <td>932342377</td>
                                <td>Miraflores</td>
                                <td>Administrador</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>EMATAP</td>
                                <td>Emanuel</td>
                                <td>Tapia</td>
                                <td>987654321</td>
                                <td>Ate Vitarte</td>
                                <td>Administrador</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section-form">
                    <div class="form-col">
                        <p class="p-form">Nombre:</p>
                        <input type="text" class="input-form" placeholder="Ingrese el nombre">
                        <p class="p-form">Apellido:</p>
                        <input type="text" class="input-form" placeholder="Ingrese el apellido">
                        <p class="p-form">Cargo:</p>
                        <input type="text" class="input-form" placeholder="Seleccione una opción">
                    </div>
                    <div class="form-col">
                        <p class="p-form">Número de teléfono:</p>
                        <input type="text" class="input-form" placeholder="Ingrese el número de teléfono">
                        <p class="p-form">Dirección:</p>
                        <input type="text" class="input-form" placeholder="Ingrese la dirección">
                    </div>
                </div>
                <div class="div-btns">
                    <button class="btn-btns" style="background-color: rgb(29, 182, 29); color: white;" ><img src="ico/btn-guardar.svg" alt="" width="30px" class="img-btn">Guardar</button>
                    <button class="btn-btns" style="background-color: rgb(212, 172, 13); color: white;"><img src="ico/btn-actualizar.svg" alt="" width="30px" class="img-btn">Actualizar</button>
                    <a href="empleado.html">
                    <button class="btn-btns" style="background-color: rgb(241, 35, 35); color: white;" ><img src="ico/btn-regresar.svg" alt="" width="30px" class="img-btn">Regresar</button>
                    </a>
                </div>
            </section> -->


            </div>
            
            
        </main>
        

        <footer>

        </footer>

        <script src="./js/funciones.js"></script>
		
	</body>
</html>
